<div class="jumbotron jumbotron-fluid">
  <div class="container">  
    <h1>HomeReno</h1>
    <h3>The app for DIY and home improvement enthusiasts.</h3>
  <hr>
  </div>
</div>

<%= button_to "Log in with Google", '/auth/google_oauth2' %>