<h1>All Tasks</h1>

<% @tasks.each do |task| %>
    <li>
      <%= task.user.username %> added "<%= task.description %>" task to the <%= link_to task.project.title, project_path(task.project_id) %> project.
    </li>
<% end %>